<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: "Poppins", sans-serif;
            background-color: #000;
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        h1 {
            text-align: center;
            margin: 90px;
            padding: 40px;
            color: #fff;
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: center;
        }

        li {
            display: inline-block;
            margin: 10px;
            cursor: pointer;
            font-size: 20px;
        }

        .logout {
            margin-top: 140px;
            background-color: #0ef;
            color: #000;
            padding: 10px 20px;
            border: none;
            width: 170px;
            height: 50px;
            border-radius: 30px;
            cursor: pointer;
            font-size: 20px;
            transition: background-color 0.3s ease;
        }

        .reset {
            margin-top: 15px;
            background-color: #0ef;
            color: #000;
            padding: 10px 20px;
            border: none;
            width: 200px;
            height: 50px;
            border-radius: 30px;
            cursor: pointer;
            font-size: 20px;
            transition: background-color 0.3s ease;
        }

        .ab {
            border: none;
            background: none;
            cursor: pointer;
            font-size: 20px;
            color: #fff;
        }

        a {
            text-decoration: none;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .folder-icon {
            font-size: 70px;
            margin-bottom: 5px;
            margin-left: 65px;
            margin-right: 65px;
            color: #fff;
        }
    </style>
</head>

<!-- Assuming you are using a template engine like EJS -->
<!-- cd.ejs -->
<!-- Assuming 'classList' contains objects with 'className' and 'subject' properties -->

<body>
    <h1>Welcome <%= pageTitle %>
    </h1>

    <ul>
        <li>

            <% if (mode==='teacher' ) { %>
                <% for (let i=0; i < classList.length; i++) { %>
        <li>
            <form action="/views/cdm.ejs" method="get">
                <input type="hidden" name="div" value="<%= classList[i].div %>">
                <button type="submit" class="ab" style="border: none; background: none; cursor: pointer;">
                    <i class="fas fa-folder folder-icon"></i>
                    <br>
                    <%= classList[i].div %>
                </button>
            </form>
        </li>
        <% } %>
            <li>
                <a href="/views/cda.ejs">
                    <i class="fas fa-folder folder-icon"></i>
                    Attendance
                </a>
            </li>
            <% } else if (mode==='student' ) { %>
                <li>
                    <a href="/views/cdms.ejs?subject=os">
                        <i class="fas fa-folder folder-icon"></i>
                        Operating Systems
                    </a>
                </li>
                <li>
                    <a href="/views/cdms.ejs?subject=math">
                        <i class="fas fa-folder folder-icon"></i>
                        Mathematics
                    </a>
                </li>
                <li>
                    <a href="/views/cdms.ejs?subject=dsa">
                        <i class="fas fa-folder folder-icon"></i>
                        Data Structures
                    </a>
                </li>
                <li>
                    <a href="/views/cdms.ejs?subject=adldco">
                        <i class="fas fa-folder folder-icon"></i>
                        Applied Logic Design
                    </a>
                </li>
                <% } %>

                    <form action="/logout.ejs" method="get">
                        <button type="submit" class="logout">Logout</button>
                    </form>

                    <form action="/views/reset.ejs" method="get">
                        <button type="submit" class="reset">Reset password</button>
                    </form>
    </ul>
</body>





</html>