<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: center;
        }

        li {
            display: inline-block;
            margin: 10px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .folder-icon {
            font-size: 24px;
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <h1>CSE-CY</h1>

    <ul>
        <li>
            <a href="/views/cymc.ejs">
                <i class="fas fa-folder folder-icon"></i>
                Materials
            </a>
        </li>
        <li>
            <a href="views\class2.ejs">
                <i class="fas fa-folder folder-icon"></i>
                CIE
            </a>
        </li>
        <li>
            <a href="/views/cya.ejs">
                <i class="fas fa-folder folder-icon"></i>
                Attendance
            </a>
        </li>
    </ul>
</body>

</html>