<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RVCE Classroom</title>
  <style>
    body {
      background-color: black;
      color: white;
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h1 {
      font-size: 40px;
      margin: 70px;
    padding: 20px;
    }

    p {
      font-size: 30px;
    }

    .click {
      margin: 100px;
      padding: 80px;
    }
    

    /* a.btn.btn-success.btn-lg {
      color: #fff;
      font-size: 30px;
    } */
    a.btn.btn-success.btn-lg {
      text-decoration: none;
      display: inline-block;
      width: 100px;
      height: px;
      padding: 10px 20px;
      margin: 10px;
      border: 0px solid #ffffff;
      color: #000;
      background-color: #0ef;
      font-size: 25px;
      cursor: pointer;
      border-radius: 30px;
      transition: background-color 0.3s, color 0.3s;
    }
    a:hover {
      background-color: #ffffff;
      color: #0ef; /* Blue color on hover */
    }
  </style>
</head>

<body>
  <h1>Welcome to Our Classroom!</h1>
  

  <p>To Sign In click below</p>
  
  <div class="button">
    <div class="click">
      <a class="btn btn-success btn-lg" type="button" href="/login" role="button">Sign In</a>
    </div>

  </div>
</body>

</html>