<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: black;
            color: #ffffff;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            color: #ffffff;
            margin-bottom: 30px;
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: center;
            margin: 0;
        }

        li {
            display: inline-block;
            margin: 15px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .folder-icon {
            font-size: 150px;
            margin-bottom: 10px;
            margin-right: 60px;
        }

        form {
            text-align: center;
            margin-top: 20px;
        }

        button {
            background-color: rgb(58, 216, 247); /* Red */
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #cc001f; /* Darker red on hover */
        }
    </style>
</head>

<body>
    <h1>Classes</h1>

    <ul>
        <li>
            <a href="/views/cy.ejs">
                <i class="fas fa-folder folder-icon"></i>
                CY
            </a>
        </li>
        <li>
            <a href="/views/cd.ejs">
                <i class="fas fa-folder folder-icon"></i>
                CD
            </a>
        </li>
        <li>
            <a href="/views/cse.ejs">
                <i class="fas fa-folder folder-icon"></i>
                CSE
            </a>
        </li>
    </ul>

    <!-- Use a form to generate a GET request -->
    <form action="/views/userreg.ejs" method="get">
        <button type="submit">Register User</button>
    </form>

    <form action="/logout.ejs" method="get">
        <button type="submit">Logout</button>
    </form>
</body>

</html>

